* text=auto eol=lf

*.go text
*.ts text
*.tsx text
*.js text
*.mjs text
*.cjs text
*.json text
*.md text
*.yml text
*.yaml text
*.css text
*.html text
*.sh text

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.svg binary
*.woff2 binary
*.eot binary
*.ttf binary
