Subject: Your Vessl Cloud plan has been upgraded!

Hi {{.UserName}},

Great news! Your team **{{.TeamName}}** has successfully been upgraded to the **{{.PlanName}}** plan.

You now have access to all the features included in this tier. You can view your current plan and usage limits in your team settings.

Thanks for upgrading and supporting Vessl!

Best,
The Vessl Cloud Team
